.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imageField {
    display: flex;
    flex-direction: column;
    width: 121px;
    height: 159px;
}

.title {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-weight: 500;
    font-size: 24px;
    margin-top: 12px;
}

.underxx {
    width: 101px;
    border: 2px solid #2854c1;
}

.textField {
    margin-top: 64px;
    width: 360px;
    height: 24px;
    background: #FFFFFF;
    border-radius: 15px;
    border: transparent;
    padding: 12px;
}

.texto {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    color: #FFFFFF;
}

.btn {
    width: 360px;
    height: 62px;
    background: linear-gradient(90deg, #7B23A9 0%, #D23761 100%);
    border-radius: 9px;
    margin-top: 155px;
    color: #ffffff;
    font-weight: bold;
}